[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
